@import '@/styles/colors';

.container {
    border-radius: unset;
    background: transparent;
    box-shadow: none;
    padding-bottom: 8rem;
}

.header {
    color: $light;
    background-color: $primary-color;
    border: unset;
    border-radius: unset;
    height: 4rem;
    padding: 0px 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
    color: $light;
    margin: 0;
}

.backButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        color: $light;
    }
}
