$primary-color: #fe6e63;
$secondary-color: #b375f7;
$green: #40c88d;
$light: #f5f5f5;
$white: #fff;
$gray: #d7d7d7;
$dark: #2b2b2b;
$dark-blue: #59748a;
$orange: #fea36c;
$purple: #b375f7;
$light-red: #f99796;
$yellow: #f9c74f;
