@import '@/styles/colors';

.feedLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

