@import '@/styles/colors';

.container {
    width: 100%;
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.rangeInput {
    width: 100%;
    margin: 0 !important;
    writing-mode: vertical-lr;
    height: 25vh;
    max-width: 32px;
    transform: rotate(180deg);
}

.rangeInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.counter{

    font-size: 22px;
    font-weight: bold;
    color: $dark-blue;
    margin-top: 0.5rem;
}


.pickerItemSelected {
    font-weight: bold;
    color: $primary-color;
}
